<h1>Welcome to Fake Twitter</h1>
<h3>Possibly the shittiest fake twitter experience on the web.</h3>

<%= form_for @user do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div>
  <%= f.label :handle %>
  <%= f.text_field :handle %>
</div>

<%= f.submit %>
<% end %>
